
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">{{ points }} cities placed </div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">{{score}} kilometers left</div>
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
   {{ cities[indexCity].capitalCity }}
</div>




<div [hidden]="loading">
    <agm-map #agmMap [styles]="styleMap" [streetViewControl]="false" [zoom]="4" (mapClick)="setMarker($event)" >
        <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
      </agm-map> 
     
</div>

<div fxLayout="row" fxLayoutAlign="center"><button mat-raised-button (click)="placeMarker()">Place</button></div>

